<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>protelTest.SMPTestAutomation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>smpV2CreateBulkTransferService</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>integrationApprovalProd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>integrationsetdateProd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>integrationRequestProd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerWithoutLastName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerWithoutCompanyName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerIAM</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerFail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>changePassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerWithoutConfirmPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clearUserDev</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerWithoutFirstName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>smpV2integrationRequest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>integrationRequestDev</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clearUserProd</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerWithoutEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerWithoutPassword</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registerWithoutCountry</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>createNewService</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>integrationApprovalDev</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>register</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>BeforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
