<h2>Methods that were not run</h2><table>
<tr><td>protelTest.SMPTestAutomation.registerWithoutFirstName</td></tr>
<tr><td>protelTest.SMPTestAutomation.register</td></tr>
<tr><td>protelTest.SMPTestAutomation.registerWithoutConfirmPassword</td></tr>
<tr><td>protelTest.SMPTestAutomation.integrationApprovalProd</td></tr>
<tr><td>protelTest.SMPTestAutomation.clearUserProd</td></tr>
<tr><td>protelTest.SMPTestAutomation.integrationRequestDev</td></tr>
<tr><td>protelTest.SMPTestAutomation.registerWithoutEmail</td></tr>
<tr><td>protelTest.SMPTestAutomation.registerWithoutCountry</td></tr>
<tr><td>protelTest.SMPTestAutomation.registerWithoutPassword</td></tr>
<tr><td>protelTest.SMPTestAutomation.createNewService</td></tr>
<tr><td>protelTest.SMPTestAutomation.clearUserDev</td></tr>
<tr><td>protelTest.SMPTestAutomation.registerIAM</td></tr>
<tr><td>protelTest.SMPTestAutomation.login</td></tr>
<tr><td>protelTest.SMPTestAutomation.integrationRequestProd</td></tr>
<tr><td>protelTest.SMPTestAutomation.registerFail</td></tr>
<tr><td>protelTest.SMPTestAutomation.changePassword</td></tr>
<tr><td>protelTest.SMPTestAutomation.registerWithoutCompanyName</td></tr>
<tr><td>protelTest.SMPTestAutomation.integrationsetdateProd</td></tr>
<tr><td>protelTest.SMPTestAutomation.registerWithoutLastName</td></tr>
<tr><td>protelTest.SMPTestAutomation.smpV2CreateBulkTransferService</td></tr>
<tr><td>protelTest.SMPTestAutomation.integrationApprovalDev</td></tr>
</table>