<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e91ee">  <td>17/10/17 15:31:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SMPTestAutomation.BeforeMethod()[pri:0, instance:protelTest.SMPTestAutomation@591f989e]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@245672235</td>   <td></td> </tr>
<tr bgcolor="9e91ee">  <td>17/10/17 15:31:52</td>   <td>27146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMPTestAutomation.smpV2integrationRequest()[pri:0, instance:protelTest.SMPTestAutomation@591f989e]">smpV2integrationRequest</td> 
  <td>main@245672235</td>   <td></td> </tr>
</table>
