<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97b490">  <td>17/07/11 09:06:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NewTest.BeforeMethod()[pri:0, instance:ProtelTest.NewTest@58651fd0]">&gt;&gt;BeforeMethod</td> 
<td>&nbsp;</td>  <td>main@1006485584</td>   <td></td> </tr>
<tr bgcolor="97b490">  <td>17/07/11 09:06:46</td>   <td>4665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.login()[pri:0, instance:ProtelTest.NewTest@58651fd0]">login</td> 
  <td>main@1006485584</td>   <td></td> </tr>
</table>
